<!-- <%= debug(@movie) %> -->

<!-- Form and Button -->
<form action="<%= movie_query_search_path %>">
  <label for="Get Movie">Type in Movie Title:</label>
  <input id="Get-name" type="text" name="q">
  <input type="submit" class="btn btn-primary" value="Submit">
</form>


<% if @movie %>

<!-- Movie Title and Synopsis -->
<div class="jumbotron">
  <h1>Movie Title: <%=@movie['title'] %></h1>
  <p>Synopsis: <%=@movie['synopsis'] %></p>
</div>


<!-- Runtime -->
<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Runtime: <%=@movie['runtime'] %></h3>
  </div>
</div>

<!-- Poster Image -->
<img src ="<%=@movie['posters']['thumbnail']%>"/>

<!-- Critics Ratings -->
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Critics</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr class="info">
      <td>Critics Ratings</td>
      <td><%=@movie['ratings']['critics_rating'] %></td>
    </tr>
    <tr class="success">
      <td>Critics Score</td>
      <td><%=@movie['ratings']['critics_score'] %></td>
    </tr>
    <tr class="danger">
      <td>Audience Rating</td>
      <td><%=@movie['ratings']['audience_rating'] %></td>
    </tr>
    <tr class="warning">
      <td>Audience Score</td>
      <td><%=@movie['ratings']['audience_score'] %></td>
    </tr>
  </tbody>
</table>

<%else%>

<!-- <p>No movie found</p> -->

<%end%>
